<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Usuário</ion-label>
    <ion-input [(ngModel)]="novoUsuario.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="novoUsuario.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="novoUsuario.password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="registrar()">
    Cadastrar
  </ion-button>
</ion-content>