.upload-container {
  border: 2px dashed #ccc;
  border-radius: 12px;
  background: #f9f9f9;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  // Imagem de fundo (Foto atual)
  img.preview-atual {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
  }

  // Texto sobreposto
  .overlay-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8rem;
  }
}