/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* --- PADRONIZAÇÃO DO TEMA GAMEMARKET --- */

/* 1. Fundo Geral (Cinza Claro) */
ion-content {
  --background: #f3f4f6; 
}

/* 2. Todos os Headers ficam Brancos com texto Preto */
ion-header ion-toolbar {
  --background: #ffffff;
  --color: #111827;
  --border-width: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

/* 3. Botões de Voltar (Back Button) ficam Pretos */
ion-back-button {
  --color: #111827;
}

/* 4. Inputs e Itens de Lista com fundo Branco e Borda */
.item-input-padrao {
  --background: #ffffff;
  border-radius: 12px;
  margin-bottom: 16px;
  border: 1px solid #e5e7eb;
  --padding-start: 16px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.02);

  /* --- CORREÇÃO DE COR --- */
  --color: #000000 !important;             /* Texto digitado PRETO */
  --placeholder-color: #6b7280 !important; /* Texto de ajuda CINZA */
  --placeholder-opacity: 1;
}

/* Força a cor do texto dentro do ion-select e ion-textarea também */
ion-select, ion-textarea, ion-input {
  color: #000000 !important;
}

ion-back-button {
  color: #000000 !important;
  --color: #000000 !important;
}